<div class="post">

  {{#each allPosts }}
  <div class="card m-3 box ms-4" style="width: 80%">
    <div class="card-body">
      <div class="card-header bg-success text-white">
        <h3> {{ title }} </h3>
      </div>
      <div class="p-2">
        <p> {{ post_content }} </p>
        <span> User: {{ user_id }} </span>
        <span> Created At: {{ format_date createdAt }}</span><br><br>
      </div>
      <div>
        <div class="container-header p-2 bg-success text-warning">
          <span>Comments:</span>
        </div>
        {{#each comments }}
        <div class="p-2">
          <span> User: {{ user_id }} </span><br>
          <p> {{ user_comment }} </p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- {{> post-details }} --}}
  {{/each}}

</div>