<div class="post">

  {{#each allPosts }}
  <div class="card m-3 box ms-4" style="width: 80%">
    <div class="card-body">
      <div class="card-header bg-success text-white">
        <h3> {{ title }} </h3>
        <span class="caption text-warning"> Written by: User {{ user_id }} on {{ format_date createdAt }}</span>
      </div>
      <div class="content p-2">
        <p> {{ post_content }} </p>
      </div>
      <div>
        <div class="container-header p-2 bg-success text-white">
          <span>Comments:</span>
        </div>
        {{#each comments }}
        <div class="content comments p-2">
          <span> User: {{ user_id }} </span><br>
          <p> {{ user_comment }} </p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- {{> post-details }} --}}
  {{/each}}

</div>